:root {
    --PrimaryColor: hsl(231, 42%, 13%);
    --HoverColor: hsl(231, 87%, 12%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --whiteColorDream: hsl(0, 0%, 93%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: hsl(0, 0%, 75%);
    --inputColor: hsl(330, 12%, 97%);
    --boxShadow: box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.189);
}

.secProfile{
    position: relative;
    top: 25px;
    padding: 3rem 0;

    .actionsBtns{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;      
        color: var(--whiteColor);

                
        
        .btnProfile{
            margin: 1rem 0;
            color: var(--whiteColor);
        }
    }


    .profileInfo{
        display: flex;
        box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.189);
        background: var(--whiteColor);
        flex-direction: column;
        align-items: center;

        .actionsGnrl{
            display: flex;
            gap: 4px;
        }

        
        .profileImg{
            margin-top: 1rem;
            width: 30%;
            background-color: var(--greyBg);
            cursor: pointer;
            border-radius: 50%;
            border: 2px solid var(--PrimaryColor);

        }
        
        .contentProfile{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            .gridInfo{
                margin-top: 25px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                
                .inputDiv{
                    display: flex;
                    flex-direction: column;
                }
            }     
        }
        
        .editProfile{
            display: flex;
            flex-direction: column;
            
            label{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        
        .btnProfile{
            margin: 2rem 0;
            color: white;
        }
    }
}

@media screen and (min-width:768px) {
    .secProfile{
        .profileInfo{
            padding: 7rem 0;

            .editProfile{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 40px;
            }

            .contentProfile{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: row;
                margin: 2rem 0;    
            }
        }
    }
}

@media screen and (min-width:768px) {
    .secProfile{
        .profileInfo{
            .contentProfile{
                .gridInfo{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }           
            }
        }
    }
}